:root{
    --darkPurple: #431482;
    --darkPurpleOpacity: #4414825d;
    --bluePurple: #474DB3;
    --lilac: #7253AE;
    --lilacPopup: #7153ae65;
    --lilacOpacity: #f6f1ff;
    --lilacOpacity2: #ece7f3;
    --lilacOpacity3: #ebe1f7;
    --lilacPurple: #9E8BFC;
    --darkLilac: #5D458F;
}