@media screen and (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    label {
        display: block;
    }

    .cont-tasks {
        margin: 0;
        height: 91%;
        border-radius: 0;
        box-shadow: none;
    }

    .btn-del-all-tasks,
    .btn-more-info {
        display: none;
    }

    .cont-popup {
        font-size: 14px;
    }

}